.radio-input-container {
  .options {
    display: flex;
    flex-wrap: wrap;

    .option {
      margin: 0 3px;
      background: #dddd;

      label {
        display: flex;
        padding: 6px 20px;
        border: 2px solid #fff;
        border-radius: 6px;
      }
      input[type='radio'] {
        display: none;
      }
      input[type='radio']:checked + label {
        color: aliceblue;
        background: #269;
        border-color: #269;
      }
    }
  }
}
