.date-range-picker {
  outline: none;
  text-align: center;
  color: #474aff;
  background-color: #fff;
  border: 1px solid #474aff99;
  border-radius: 6px;
  padding: 6px 12px;
  min-width: 18rem;
  font-size: larger;
  font-weight: 600;
  word-spacing: 12px;
}
