.top-navigation-container {
  position: absolute;
  top: 0;
  z-index: 9;
  width: 50vw;
  min-width: 20rem;
  max-width: 60rem;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  box-shadow: 0 0 5px #dddd;
  border-radius: 0 0 1rem 1rem;
  border-top: 0;
  background-color: white;

  .save-icon,
  a {
    border: 1px solid #dddd;
    border-radius: 50%;
    background: #474aff11;
    padding: 6px;
  }

  .selected {
    border-color: #020f5c56;
    background: #474aff66;

    svg {
      fill: #474aff66;
      color: #474aff;
    }
  }

  svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}
